<launch>
<node pkg = "planning" type = "sender" name = "waypoints_sending_server" output = "screen"/>
<arg name="node_start_delay" default="5.0" />  
<node pkg = "planning" type = "judge" name = "global_path_planning_client" output = "screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />
</launch>

