<launch>
  <arg name="name" default="OurCar" />
  <node pkg="nodelet" type="nodelet" name="$(arg name)_nodelet_manager" args="manager" />
<!-- 
Subscribed Topics:
camera_info (sensor_msgs/CameraInfo)

    Camera calibration and metadata. 

image_rect (sensor_msgs/Image)

    Rectified depth image. 

    Published Topics:
points (sensor_msgs/PointCloud2)

    XYZ point cloud. 

 -->
  <node pkg="nodelet" type="nodelet" name="$(arg name)_nodelet"
    args="load depth_image_proc/point_cloud_xyz $(arg name)_nodelet_manager">
    <remap from="camera_info" to="/realsense/depth/camera_info"/>
    <remap from="image_rect" to="/realsense/depth/image"/>
    <remap from="points" to="/realsense/depth/pointcloud"/>
  </node>


</launch>
